.App {
  width: 50%;
  margin: 2rem auto;
}

.word-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
}

.check-button {
  display: block;
  margin-top: 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;

  :disabled {
    opacity: .5;
  }
}

.non-word-text {
  font-size: 1rem;
}
